body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
    overflow:hidden;
    background-image: linear-gradient(to left top, rgb(19, 19, 19) 0%, rgb(36, 36, 36) 100%);
    background-repeat: no-repeat;
    height:100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    height:100%;
    padding:20px;
}

.container {
    height:100%;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius:0 12px 12px 0;
    background: #454545;
}

::-webkit-scrollbar-thumb {
    border-radius:0 12px 12px 0;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}